# Core FastAPI Server Dependencies
fastapi
uvicorn
python-multipart
python-dotenv

motor
pymongo
certifi

# Security & Authentication
bcrypt
PyJWT
pydantic
email-validator

# HTTP client & testing
requests
pytest
